@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,600&display=swap');
@media (prefers-color-scheme: dark) {
	:root {
		--txt: #C2C2C2;
		--bg:  #0D1B1E;
	}
}
@media (prefers-color-scheme: light) {
	:root {
		--txt: #3C493F;
		--bg:  #F7E9E9;
	}
}
html { height: 100%; }
body {
	color: var(--txt);
	font-size: 20px;
	background: var(--bg);
	
}

.grid-container { display: grid; }
#main           { 
	background-color: var(--bg); 
	position: absolute;
	top: 0%;
	left: 0%;
	bottom: 0%;
	right: 0%;
	margin: 0% 6% 0% 25%;
}
h1 { font-size: 30px; }

header, h1 { 
	font-size: 40px; 
	font-family: 'Libre Baskerville';
	font-weight: 700;
	text-align: center;
}

p,ul {
	font-family: 'Libre Baskerville';
	font-style: italic;
	text-align: center;
}

#toc {
	background-color: var(--bg);
	margin: auto;
	padding: 25px 25px 25px 25px;
	row-gap: 5px;
	column-gap: 5px;
	width: 20%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
}

a {
	text-decoration-line: none;
	text-decoration-style: none;
	color: #037971;
	background-color: var(--bg);
	font-family: 'Libre Baskerville';
	font-style: italic;
	text-align: center;
	font-size: 25px;
	padding: 2px 2px 2px 2px;
}
